<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/boot.css" type="text/css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="assets/css/fonticon.css" type="text/css">
    <link rel="stylesheet" href="assets/css/login.css" type="text/css">
    <link rel="stylesheet" href="assets/css/lista.css" type="text/css">
    <link rel="stylesheet" href="assets/css/formulario.css" type="text/css">
    <link rel="stylesheet" href="assets/css/footer_links.css" type="text/css">

    <script type="text/javascript" src="assets/js/modal.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="assets/css/modal.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/quemsomos.css" type="text/css">
    <title>Quem Somos</title>
</head>
<body>
    <!--INÍCIO DOBRA CABEÇALHO-->
    <section>
    <header class="navbar">
        <div class="main-navbar">
            <a class="main-navbar-logo-nome" href="index.php">
                <img class="imagem "src="assets/img/logo.png" alt="Busca Service" title="Busca Service" width="80">
            
            <h1 class="nomesite">Busca Service</h1>
            </a>

            <nav>
                <ul class="navmenu">
                    <li><a href="index.php">Página Inicial</a></li>
                    <li><a href="quemsomos.html" target="_blank">Quem somos</a></li>
                    <li><a href="login.php" class="modal-link">Faça seu Login</a></li>
                </ul>
            </nav>
        </div>
    </header>
</section>

    <!--INICIO POP LOGIN-->
    <div class="overlay"></div>
    <div class="modal">
        <div class="div_login">
            <form action="login.php" method="post">
                <h1>Login</h1><br>
                <input type="text" placeholder="nome" name="Nome" class="input"> <br><br>
                <input type="password" placeholder="senha" name="Senha" class="input"> <br><br>
                <button class="button">Enviar</button>
            </form>
            <h2><a href="#">Esqueceu sua senha? Crie uma nova aqui</a></h2><br>
            <h2><a href="cadastra_pro.php">Não tem uma conta? Registre-se agora mesmo!</a></h2>
        </div>
    </div>
    <!--FIM POP LOGIN-->

    <!--FIM DOBRA CABEÇALHO-->

    <!--INÍCIO DOBRA POLITICA DE QUEM SOMOS-->
    <main>
        <section>
            <article>
                <header class="introducao">
                    <h1>Quem Somos - Busca Service</h1>
                </header>
            </article>

            <div class="conteudo_quem">  
             <header>
                <h2 class="titulo_link">Nosso Negócio</h2>
           
        <p>Trata-se de um site que visa facilitar a busca por quaisquer serviços de que o cliente precisa, divulgando o trabalho de profissionais das mais diversas áreas.</p>
                
                <h3 class="titulo_link">Missão</h3>

        <p>Nosso objetivo principal é ajudar a quem precisa serviços, contudo nosso site oferece apoio tanto para clientes quanto para profissionais.<br>
        Nosso público alvo é quem está disposto a acrescentar junto conosco.</p>
                
                <h4 class="titulo_link">Visão</h4>

        <p>Esperamos que futuramente nosso site tenha um amplo crescimento dentro do mercado de trabalho e que seja reconhecido principalmente por pessoas que estejam precisando de serviços autônomos.<br>
        Além disso, que conquiste espaço internacional por meio da inovação, estando sempre à frente dos demais.</p> 
                
                <h5 class="titulo_link">Valores</h5>

        <p>Parceria, serviço ao cliente, integridade e responsabilidade. Foco em resultados, segurança, eficiência e facilidade. Simplicidade, foco na satisfação do cliente, qualidade e melhoria dos serviços. Acessibilidade e prosperidade para todos.<br>
        Essas são algumas de nossas crenças, filosofia e princípios que deverão orientar nossos negócios e atividades. 
        Deverão ser a motivação, o direcionamento e o posicionamento para agir com foco nos objetivos e na ética.</p>

        </header>
        </div>
    </section>       
    
                          
            <!--FIM DOBRA POLITICA DE PRIVACIDADE-->
    
            
            <!--INCIIO DOBRA RODAPE-->
    
        <section class="main_footer">
            <header>
                <h1>Quer saber mais?</h1>
            </header>
            <article class="main_footer_our_pages">
                <header>
                    
                </header>
                <ul>
                    <li><a href="index.php">Topo</a></li>
                    <li><a href="quemsomos.html" target="_blank">Quem somos</a></li>
                </ul>
            </article>
    
            <article class="main_footer_links">
                <header>
                    <h2>Links Úteis</h2>
                </header>
                <ul>
                    <li><a href="politicadeprivacidade.html" target="_blank">Política de Privacidade</a></li>
                    <li><a href="avisolegal.html" target="_blank">Aviso Legal</a></li>
                    <li><a href="termosdeuso.html" target="_blank">Termos de Uso</a></li>
                </ul>
            </article>
    
            <article class="main_footer_about">
                <header>
                    <h2>Sobre o Projeto</h2>
                </header>
                <p>Proporcionando maior conforto aos usuários na busca por serviços essenciais, ao mesmo tempo em que encurta a distância entre profissionais qualificados e seus clientes em potencial</p>
            </article>
        </section>
    
        <footer class="main_footer_rights">
            <p> BUSCA SERVICE - Todos os direitos reservados. &reg;</p>
        </footer>
        <!--FIM DOBRA RODAPE-->
        
    </body>
    </html>
    <script>
        // Seleciona o link e a janela modal
        var link = document.querySelector('.modal-link');
        var modal = document.querySelector('.modal');
        var overlay = document.querySelector('.overlay');
    
        // Adiciona um listener de evento para o link
        link.addEventListener('click', function (event) {
            event.preventDefault(); // previne o comportamento padrão do link (navegar para outra página)
    
            overlay.style.display = 'block'; // exibe a camada escura
            modal.style.display = 'block'; // exibe a janela modal
        });
    
        // Adiciona um listener de evento para a camada escura
        overlay.addEventListener('click', function () {
            overlay.style.display = 'none'; // oculta a camada escura
            modal.style.display = 'none'; // oculta a janela modal
        });
    </script>
    </html>